@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Museo Sans Cyrl',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/forms';
@import 'blocks/consultation';
@import 'blocks/carousel';
@import 'blocks/catalogue';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';