.title {
    color:$text-black;
    font-size: 30px;
    font-weight: $fw-bold;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
    }
}